.slide {
    align-items: center;
    height: 32vw;
}
.imgcol {
    margin:40px;
    height: 32vw;
    justify-content: center;
    display: flex;
}
.evenstep {
    background-image: url("https://storage.googleapis.com/cdn.sacshiki.com/assets/making-bg.jpg");
    background-size: cover;
}
.textcol {
    display:flex;
    justify-content: center;
    margin: 40px;
    height: 32vw;
}
.textcol article {
    width:32vw;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-direction: column;
}
.textcol h3 {
    font-size: 1.6em;
    line-height: 1.6em;
}
.textcol h3 span {
    border-bottom: 1px solid black;
}
.textcol h4 {
    font-size: 1.6em;
}
.textcol p {
    font-size: 1.1em;
}
@media only screen and (max-width: 650px) {
    .textcol {
        height: auto;
        margin-bottom: 0
    }
    .textcol article {
        width: 100vw
    }
    .imgcol {
        height: 90vw;
        margin-top: 0
    }
    .ant-image-img.slide {
      height: 100vw;
      width: 100vw;
      margin-left: 0px;
      margin-right: 0px;
      padding: 40px;
    }
  }
