.ant-dropdown {
		left: 0px;
}
.topo-bg {
	background: rgba(243, 215, 198, 0.6);
}
.mb-20 {
	margin-bottom:20px
}
.cardcontent {
	color: #171717;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	padding-right: 90px;
	margin-bottom: 0px;
}
.cardcontent p {
	font-size: 1.18em;
}
.imgwrap { padding: 40px; }
.imgwrap img { max-height:70vh}

.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
  }
  
  .video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
  }
.topo-svg {
	width: 100%
}
.ant-col.flex { display: flex }
#banner {
	height: 20vw;
	width: 100%;
	background: black;
  }
.bannerImg {
	height: 20vw;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	object-position: center center;
	opacity: 0.65;
}
.hp-slides {
	width: 100%;
	height: auto;
	padding: 50px 50px 50px 30px;
}

@media only screen and (max-width: 650px) {
 #banner,.bannerImg {
	 height: 25vh
 }
 #bannerText #bannerTitle {
	 margin-top:30%;
	 font-size: 1.4em
 }
 .cardcontent {
	width: 100vw;
    margin-bottom: -35px;
    margin-left: 0px;
    padding-right: 40px;
 }
}