.ant-dropdown {
		left: 0px;
}
.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
  }
  
  .video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
  }
.topo-svg {
	width: 100%
}
#banner {
	height: 20vw;
	width: 100%;
	background: black;
  }
.bannerImg {
	height: 20vw;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	object-position: center center;
	opacity: 0.65;
}

@media only screen and (max-width: 650px) {
 #banner,.bannerImg {
	 height: 25vh
 }
 #bannerText #bannerTitle {
	 margin-top:30%;
	 font-size: 1.4em
 }
}